@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

body {
    background-color: rgb(0, 115, 150);
    background-image: url("pyr.jpg");
    background-size: cover;
    background-position: center;
}

h1 {
    color: purple;
    background-color: black;
    border: 2px solid purple;
    font-family: 'Dela Gothic One', cursive;;
    font-size:50px;
    text-align: center;
}

#title {
    font-size: 25px;
    border: 2px solid purple;
    font-family: 'Dela Gothic One', cursive;
}

#description {
    font-size: 25px;
    border: 2px solid purple;
    font-family: 'Dela Gothic One', cursive;
}

#p {
    font-size: 30px;
    font-family: 'Dela Gothic One', cursive;
    text-decoration: underline;
    text-decoration-color: orange;
    color: rgb(255, 0, 34);
}

#p2 {
    font-size: 30px;
    font-family: 'Dela Gothic One', cursive;
    color: rgb(255, 0, 34);
}


#button {
    font-size: 30px;
    color: rgb(255, 0, 34);
    background-color: black;
    border: 3px solid purple;
    margin-top: 20px;
}

#title1 {
    font-size: 25px;
    font-family: 'Dela Gothic One', cursive;
    border: 2px solid purple;
    background-color: rgb(255, 0, 34);
}

#description1 {
    font-size: 25px;
    font-family: 'Dela Gothic One', cursive;
    border: 2px solid purple;
    background-color: rgb(255, 0, 34);
}

#button2 {
    font-size: 30px;
    background-color: black;
    color: purple;
}

/* mobile */

@media only screen and (min-width: 768px) {

    body {
        background-image: url("pyr.jpg");
        background-size: cover;
        background-position: center;
    }
    
    h1 {
        color: purple;
        background-color: black;
        border: 2px solid purple;
        font-family: 'Dela Gothic One', cursive;
        font-size:55px;
        text-align: center;
    }
    
    #title {
        font-size: 25px;
        border: 2px solid purple;
        font-family: 'Dela Gothic One', cursive;
    }
    
    #description {
        font-size: 25px;
        border: 2px solid purple;
        font-family: 'Dela Gothic One', cursive;
    }

    #p {
        font-size: 30px;
        font-family: 'Dela Gothic One', cursive;
        text-decoration: underline;
        text-decoration-color: orange;
        color: rgb(255, 0, 34);
    }
    
    #p2 {
        font-size: 30px;
        font-family: 'Dela Gothic One', cursive;
        color: rgb(255, 0, 34);
    }
    
    
    #button {
        font-size: 30px;
        color: rgb(255, 0, 34);
        background-color: black;
        border: 3px solid purple;
        margin-top: 20px;
    }
    
    #title1 {
        font-size: 25px;
        font-family: 'Dela Gothic One', cursive;
        border: 2px solid purple;
        background-color: rgb(255, 0, 34);
    }
    
    #description1 {
        font-size: 25px;
        font-family: 'Dela Gothic One', cursive;
        border: 2px solid purple;
        background-color: rgb(255, 0, 34);
    }
    
    #button2 {
        font-size: 30px;
        background-color: black;
        color: purple;
    }
}